<section class='carts'>

  <h1 class='viewTitle'>View Cart Handlebars!</h1>

  <h4 class='cartTitle'>Cart ID: {{cartId}}</h4>
  <ul id='productsContainer' class='cartContainer'>
    {{#each products}}
    <li class='cart'>
      <h4 class='productFromCardTitle'>{{this.product.title}}</h4>
      <div class='cartDataContainer'>
        <p> <span>Id:</span> {{this._id}}</p>
        <p> <span>Quantity:</span> {{this.quantity}}</p>
        <p> <span>Title:</span> {{this.product.title}}</p>
        <p> <span>Description:</span> {{this.product.description}}</p>
        <p> <span>Price:</span> {{this.product.price}}</p>
        <p> <span>thumbnails:</span><br>
          {{#each this.product.thumbnails}}
          <a class='linkThumbnail' href='{{this}}' target='_blank'>{{this}}</a>
          <br>
          {{/each}}
        </p>

        <p> <span>Code:</span> {{this.product.code}}</p>
        <p> <span>Stock:</span> {{this.product.stock}}</p>
        <p> <span>Category:</span> {{this.product.category}}</p>
        <p> <span>Status:</span> {{this.product.status}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
</section>