<section class="profile">
  <h3>Welcome {{user.name}}</h3>
  <ul class="userDataProfile">
    <li class="userDataItem">Name:{{user.name}}</li>
    <li class="userDataItem">Age: {{user.age}}</li>
    <li class="userDataItem">Email: {{user.email}}</li>
    <li class="userDataItem">Role: {{user.role}}</li>
  </ul>
</section>