<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- STYLES --}}
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/chatView.css">
  <link rel="stylesheet" href="/css/userCartsView.css">
  <link rel="stylesheet" href="/css/productsView.css">
  <link rel="stylesheet" href="/css/btnPaginate.css">
  <link rel="stylesheet" href="/css/realTimeProductsView.css">
  <link rel="stylesheet" href="/css/register-login.css">

  {{!-- FAVICON --}}
  <link rel="shortcut icon" href="https://i.ibb.co/ZT13Snc/Logo2023.png" type="image/x-icon">

  {{!-- FONTS --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
  {{!-- SWEET ALERT --}}
  <link rel="stylesheet" href="@sweetalert2/theme-dark/dark.css">

  <title>Backend Ecommerce</title>

</head>

<body>
  <header class='header'>
    <h1>My Backend App 🥴</h1>
    {{#if user.email}}

    <nav class='navBar'>
      <a href="/api/products">Products</a>
      <a href="/api/chat">Chat</a>
      <a href="/realtimeproducts">Real Time Products</a>
      <a href="/api/carts/{{user.cart}}">Cart</a>
      <a href="/current">Current</a>
    </nav>
    <br>
    <section class="profile">
      <section class='userData'>
        <p><span>Name:</span> {{user.firstName}} {{user.lastName}}</p>
        <p><span>Email:</span> {{user.email}}</p>
        <p><span>UID:</span> {{user.id}}</p>
        {{#if user.age}}
        <p><span>Age:</span> {{ user.age }}</p>
        {{else}}
        <p><span>Age:</span> N/A</p>
        {{/if}}
        <p><span>Role:</span> {{user.role}}</p>
        <p><span>Cart:</span> {{user.cart}}</p>
      </section>
      <a href="/api/sessions/logout">
        <button class='btnLogout'>Logout</button>
      </a>
    </section>
    {{/if}}
  </header>
  <main class='main'>
    {{{body}}}
  </main>
  <footer class='footer'>
    <div class='footerContainer'>
      <p>[ Developed by Emanuel Escudero ]</p>
      <a href='https://emanuelescudero.ar' rel='noopener noreferrer' target='_blank'>
        <img class='logoDev' src='https://i.ibb.co/ZT13Snc/Logo2023.png' alt='Developer Logo' />
      </a>
    </div>
  </footer>
</body>

</html>